/* Cores principais */
:root {
    --primary-color: #007bff; /* Cor principal azul */
    --secondary-color: #666; /* Cor secundária */
    --accent-color: #FFC107; /* Cor de destaque */
    --background-color: #f7f7f7; /* Cor de fundo */
}

header {
    border-radius: 10px; /* Adiciona borda arredondada ao header */
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    min-height: 80vh; /* Deixa o main mais comprido */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--background-color);
    
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: var(--accent-color);
}



section {
    background-color: var(--secondary-color);
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

section:last-child {
    margin-bottom: 0;
}

h2 {
    color: var(--primary-color);
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 20px;
}

li:last-child {
    margin-bottom: 0;
}

button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: var(--accent-color);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--accent-color);
}